/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 481px) {
/* Styles */
:root {
--bblue: rgb(225, 235, 255);
--bgrey: #8498C2;
--dblue: #384d77;
--dgrey: #505C75;
--blue: #5E91F7;
}
* {
color: var(--dblue);
margin:0;
font-family: 'Source Sans Pro', sans-serif;
user-select: none;
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box;    /* Firefox, other Gecko */
box-sizing: border-box;         /* Opera/IE 8+ */
}
html {
overflow: -moz-scrollbars-vertical; 
overflow-y: scroll;
height: 100%;
margin:0;
}
body {
    flex-direction: column;
margin:0;
background-color:var(--bblue);
/*background-image:url("../img/original.jpg");*/
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
}
:root {
scrollbar-width: none !important;
}
::-webkit-scrollbar {
width: 8px;
height: 12px;
}
::-webkit-scrollbar-track {
background-color: var(--dblue);
border-left:var(--dblue) solid 2px;
}
::-webkit-scrollbar-thumb {
background-color: cornflowerblue;
}
/* FOOTER */
.footer{
position:fixed;
width: 50%;
bottom:0;
right:-50%;
background-color: var(--dblue);
height: 100%;
z-index:100;
transition: 0.6s;
overflow-y: auto;
}
.footeractive{
transition: 0.6s;
right:0;
}
.footerinset{
left:0;
right:0;
background-color: var(--bblue);
z-index:30;
margin-left:2px;
width: 100%;
}
.foottable{
position: absolute;
top:0;
height: 100%;
border-collapse: collapse;
left:0;
}

.foottable td{
border:4px solid var(--dblue);
height: 20%;
text-align: center;
color:var(--bblue);
}

.foottable th{
border:4px solid var(--dblue);
background-color: var(--bgrey);
color: var(--dblue);
height: 20%;
text-align: center;
}


#logout {
width: 100px;
background-color: var(--dblue);
color: var(--bblue);
cursor: pointer;
position: fixed;
text-align:center;
font-size:20px;
right:0;
bottom:0;
height:56px;
border:none;
z-index: 34;
}
#logout:hover {
width: 100px;
background-color: crimson;
color:var(--bblue);
position: fixed;
text-align:center;
z-index: 34;
height:56px;
}

/*MYSQL TABLE*/

.move{
margin-left:150px;
position:absolute;
z-index: 20;
top:0;
background-color: white;
}

.adminalert a{
background-color:ghostwhite;
border:2px solid crimson;
text-align: center;
position:fixed;
width: 100px;
border-radius: 0  0 0 30px;
right:0;
color:black;
top:0;
height: 30px;
}
.adminalert p {
font-size:10px;
position: absolute;
margin-left:20px;
font-weight: bold;
}
.adminalert a:hover{
background-color: crimson;
}


.logstable{
margin-top:30px;
z-index: 15;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
background-color: wheat;
border-radius: 20px;
position:absolute;
padding: 40px;
margin-left:45%;
display:inline;
}

.verde{
font-weight: bold;
color:green;
}

.amarelo{
font-weight: bold;
color:yellow;
}

.vermelho{
font-weight: bold;
color:red;
}

.searchresults.verde{
background-color:green;
}
.searchresults.amarelo{
background-color:yellow;
}
.searchresults.vermelho{
background-color:red;
}
#editordiv{
display:block;
background-color: var(--bblue);
position: relative;
width: 95%;
z-index: 30;
margin-bottom: 5px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
margin-top:100px;
}
.searchbar{

}
.searchbar ol{
padding:0;
display:flex;
justify-content: space-between;
}
.searchbar li{
display: inline;
}
.droplist{
padding-right: 50px;
height: 100%;
border:none;
border-radius: 5px;
}
.listdroppedactive{
left:0 !important;
display: inline !important;
transition: .5s !important;
}
.listdropped{
transition: .5s !important;
position: fixed;
height: 100%;
width: 300px;
left:-300px;
top:0;
z-index: 71;
background-color: var(--dblue);
}
.listdropped ol{
    width: 100%;
    padding:0;
    display:inline-block;
}
.listdropped h1{
    color: var(--bblue);
}
.listdropped li:first-child:hover{
    background-color: var(--dblue);

}
.listdropped li{
    display:block;
    margin:10px;
    padding:25px;
    color: var(--bblue);
}
.listdropped li:hover{
    display:block;
    margin:10px;
    padding:25px;
    color: var(--bblue);
    background-color: var(--bgrey);
}
.backcurtain{
display:none;
position: fixed;
top:0;
width: 100%;
height: 100%;
background-color: black;
opacity: 0.6;
z-index: 50;
}
.searchbar input{
user-select: auto !important;
position: relative;
padding:15px;
border:none;
border-radius: 5px;
}
.filterprice{
width: auto;
}

.filterprice:hover{
width: auto;
}

.preenchatxt{
position: fixed;
display:none;
margin-top:150px;
right:0;
left:0;
margin-left:auto;
margin-right:auto;
color:crimson;
font-size:20px;
}

.insertTxt{
position: fixed;
display:none;
margin-top:150px;
right:0;
left:0;
margin-left:auto;
margin-right:auto;
color:mediumseagreen;
font-size:20px;
}
.referror{
position: fixed;
display:none;
margin-top:150px;
right:0;
color:crimson;
font-size:20px;
}
.existingprod{
position: fixed;
display:none;
margin-top:150px;
right:0;
left:0;
margin-left:auto;
margin-right:auto;
color:crimson;
font-size:20px;
}

#but-del{
border-radius: 6px;
height: 20px;
background-color: var(--bgrey);
color:crimson;
font-weight: bold;
font-size:auto;
border:2px solid crimson;
}

#but-del:after{
background-color:crimson;
color:var(--dgrey);
}
#but-del:active:after{
background-color:crimson;
color:var(--dgrey);
}
#showeditor{
top:0;
z-index:60;
position: fixed;
}
#editoradmin{
border:solid 3px cornflowerblue;
position: fixed;
z-index: 51;
}
#editoradmin button{
width: auto;
}
#fixeddiv{
background-color: var(--bblue);
position: relative;
z-index: 32;
width:100%;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
top:0;
height: 100px;
}
#fixedinsert{
display:flex;
background-color: var(--bblue);
position: relative;
width: 100%;
top:0;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
z-index: 31;
height: 100%;
padding:0;
}
#fixedinsert input{
user-select:auto;

}
#fixedinsert li{
display:inline;
width: calc(100%/5);
height: 100%;
}
#produtonocarro{
display:none;
background-color: crimson;
color:white;
position:fixed;
bottom:0;
right:0;
margin-right: 30px;
margin-bottom:230px;
}

#produtoaddcarro{
display:none;
background-color: green;
color:white;
position:fixed;
bottom:0;
right:0;
margin-right: 30px;
margin-bottom:230px;
}

#insertheader{
position: fixed;
width: 60%;
margin-top:142px;
margin-left:auto;
margin-right:auto;
background-color: var(--dblue);
color:var(--bblue);
z-index: 40;
}

#insertheader table{
width: 100%;
}

#insertheader th{
width: 20%;
position: relative;
}
.lojaflex{
margin-top:5px;
display:flex;
}
.filterlist{
    margin-right: 10px;
width: 19%;
background-color: var(--bgrey);
}
.filterlist ul{
padding:0;
}
.filterlist li{
display:block;
margin:10px;
padding:15px;
}
.filterlist button{

}
.forload{
width: 100%;
}

.insertable1{
width: 100%;
z-index: 30;
text-align: center;
border-collapse: collapse;
font-size: large;
}
.insertable1 img {
max-height: 50px;
width: auto;
}
.insertable1 tr{
transition:0.2s;
height:60px;
transition:0.6s;
background-color:var(--bblue);
border-radius: 5px;
}
.insertable1 tr:hover td{
height:60px;
transition:0.2s;
background-color:var(--dblue);
color:var(--bblue);
cursor:pointer;
}
.insertable1 td{
width:calc(100%/4);
}
.nav{
text-align: center;
padding:10px;
padding-left:0;
border-top:solid 1px var(--bgrey);
border-bottom:solid 1px var(--bgrey);
}
.nav a{
transition: .5s;
padding:10px;
background-color: var(--bgrey);
color:var(--dblue);
background-color: none;
text-decoration: none;
font-size: 16px;
font-weight: bold;
}
.nav a:hover{
transition: .5s;
padding:10px;
background-color: var(--dblue);
color: var(--bblue);
}
.prodimg{
vertical-align: middle;
max-height: 100px;
margin-left: 0;
}
.prodimg:hover{
cursor:pointer;
vertical-align: middle;
max-height: 100px;
margin-left: 0;
}
.addcartimg{
width: 40px;
height: 40px;

}

.addcart{
width: auto;
border-radius: 100%;
height: 70px;
width: 70px;
}
.addcart:hover{
width: auto;
border-radius: 100%;
height: 70px;
width: 70px;
}

.detalhes{
width: auto;
border-radius: 100%;
height: 70px;
width: 70px;
background-color: var(--dgrey);
}
.detalhes:hover{
width: auto;
border-radius: 100%;
height: 70px;
width: 70px;
background-color: var(--dgrey);
}
.deleteup{
background-color:var(--dblue);
color: var(--bblue);
width: auto;
}

.deleteup:hover{
width: auto;
background-color: crimson;
}

#lastdiv{
background-color: var(--bblue);
z-index: 31;
position: relative;
height:100px;
width: 100%;
bottom:0;
border:none;
}

#bordernone{
position: absolute;
border:none;
}



/*updatetable*/


#fixedupdate{
height:190px;
background-color: var(--bblue);
position: fixed;
z-index: 44;
width:60%;
top:0;
margin-top:32px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}
#fixedupdate table{
z-index: 32;
position: absolute;
width: 100%;
top:0;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
margin-top:30px;
}
#but-mod{
position: absolute;
right:0;
margin-top:50px;
border-radius: 6px;
width: 26%;
Height:100px;
}

.deleteb a {
padding-left: 50px;
background-color: whitesmoke;
position: relative;
}

.deleteb a:hover {
padding-left: 50px;
background-color: crimson;
position: relative;
}

input:focus{
outline:none;
}
.infofooter{
width: 95%;
background-color: var(--dgrey);
position: relative;
height: 50px;
left:0;
right:0;
margin-top: auto;
margin-left: auto;
margin-right: auto;
bottom:0;
}
#reset{
width:83px;
height:30px;
background-color: #27273c;
border-radius: 50px;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
color: white;
}

#reset:hover{
width:70px;
height:30px;
background-color: red;
border-radius: 50px;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
color: white;
cursor:pointer;
}
/*SEARCHTABLE*/
#searchdiv{
background-color: var(--bblue);
margin-top:80px;
position: absolute;
width: 60%;

margin-bottom:100px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
display:none;
}
#searchtablediv{
border:none;
position: fixed;
z-index:31;
margin-left:auto;
margin-right:auto;

width:60%;
top:0;
left:0;
right:0;
max-height: 136px;
margin-top:26px;
}
#searchtablediv input{
text-align: left;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width: 60%;
}

#searchtablediv label{
font-weight: bold;
font-size:14px;
left:0;
position: absolute;
margin-left:80px;
margin-top:42px;
}

#searchtableheader{
width: 60%;
position: fixed;
z-index: 30;
margin-left:auto;
margin-right:auto;
color:var(--bblue);
background-color: var(--dblue);
margin-top:12px;
}
#searchtableheader th{
width: 20%;
}

#showsearchtable{
margin-top:250px;
position: absolute;
margin-left: auto;
margin-right: auto;
left:0;
right:0;
top:0;
overflow-y: auto;
width: 100%;
text-align: center;
}

#showsearchtable tr:nth-child(odd){
background-color:var(--dblue);
color: var(--bblue);
}
#showsearchtable tr:nth-child(even){
background-color:var(--bblue);
color: var(--dblue);
}
.searchresults td {
width: 20%;
}
/*EDITTABLE*/
.editTable{
top:0;
margin-top:200px;
left:0;
margin-left:300px;
}

.editb a {
padding-left: 50px;
background-color: whitesmoke;
position: relative;
}
.editb a:hover {
padding-left: 50px;
background-color: crimson;
position: relative;
}

/*CONTACT FORM*/

.row {
margin-left: 150px;
}

.form-group {
display: block;
margin-right: auto;
margin-left: auto;
resize: vertical;
width: 250px;
}


/*CONTACT FORM*/

.logout {
background-color: ghostwhite;
color: white;
padding: 16px;
font-size: 16px;
border: 5px 5px 5px 5px #27273c;
cursor: pointer;
border-radius: 110px;
position: fixed;
}

.contato {
margin-bottom: 120px;
}


/* Container */



.errorlog {
bottom:0;
margin-bottom:178px;
margin-left: 57px;
background-color:wheat;
padding: 24px;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
border-radius: 50px;
position: absolute;
z-index: 15;
height: 50px;
width: 50px;
}




/* Login */
.container1 {
width: 400px;
margin-left: 390px;
top: 100px;
height: 270px;
position: absolute;
display: block;
}

.div_logged{
border-radius: 23px;
margin-top: 10%;
display: inline;
position: absolute;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
background-color: rgb(127, 125, 160);
}
.div_logged h1{
position: relative;
margin-top: 50px;
text-align: center;
color:#27273c;
}

#logindiv{
margin-top:100px;
display:none;
}

.div_login {
width: 400px;
position: absolute;
background-color: var(--bblue);
margin-right:auto;
margin-left:auto;
margin-top:100px;
right:0;
left:0;
display: block;
z-index: 31;
}

#mainregisto{
position: absolute;
width: 200px;
height: 100px;
left:0;
margin-left: auto;
right: 0;
margin-right: auto;
margin-top:500px;
z-index: 50;
border-radius: 20px;
animation: changecolor 2s infinite;
animation-direction: alternate;

}
@keyframes changecolor {
from {background-color: var(--dblue);}
to {background-color: var(--blue);}
}

.blinking{
color:var(--bblue);
animation: changecolor 2s infinite;
animation-direction: alternate;
}

.blinkonce{
color:var(--bblue);
animation: changecolor .5s 2;
animation-direction: alternate;
}


.div_login h2{
color: var(--dblue);
text-align: center;
margin-bottom:50px;
}
.div_login h1{
color:var(--dblue);
font-size:14px;
left:0;
margin-left:10%;
position: absolute;
margin-top:20px;
}

.div_login label{
display: none;
font-size:14px;
color:crimson;
position:relative;
top:0;
left:0;
margin-left:10%;

}

.div_login input{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
}

.div_login input:focus{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
border: 2px solid var(--blue);
}


.div_login button{
border-radius:4px;
position: absolute;
margin-top:20px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}
.div_login button:hover{
border-radius:4px;
position: absolute;
margin-top:20px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}



/*****registo****/

#registodiv {
display:none;
}
#tempo{
background-color: black;
color:wheat;
position: fixed;
margin-top:220px;
}
.div_reg {
width: 400px;
position: absolute;
background-color: var(--bblue);
margin-right:auto;
margin-left:auto;
margin-top:100px;
right:0;
left:0;
z-index: 31;
}

.div_reg h2{
background-color: var(--bblue);
color: var(--dblue);
text-align: center;
margin-bottom:50px;
}
.div_reg h1{
color:var(--dblue);
font-size:14px;
left:0;
margin-left:10%;
position: absolute;
margin-top:20px;
}

.div_reg label{
display: none;
font-size:14px;
color:crimson;
position:relative;
top:0;
left:0;
margin-left:10%;

}

.div_reg input{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
}

.div_reg input:focus{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
border: 2px solid var(--blue);
}


.div_reg button{
border-radius:4px;
position: absolute;
margin-top:20px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}
.div_reg button:hover{
border-radius:4px;
position: absolute;
margin-top:20px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}

.nutil{
position: fixed;
background-color:wheat;
padding:15px;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
border-radius: 50px;
left:0;
top:0;
display: block;
}

.incorrect {
text-align: center;
}

/*****registo****/

/*CONTATO*/

#emaildiv {
display: none;
}

.div_contato {
width: 400px;
position: absolute;
background-color: var(--bblue);
margin-right:auto;
margin-left:auto;
margin-top:100px;
right:0;
left:0;
z-index: 31;
}

.div_contato h2{
background-color: var(--bblue);
color: var(--dblue);
text-align: center;
margin-bottom:50px;
}
.div_contato h1{
color:var(--dblue);
font-size:14px;
left:0;
margin-left:10%;
position: absolute;
margin-top:20px;
}

.div_contato label{
display: none;
font-size:14px;
color:crimson;
position:relative;
top:0;
left:0;
margin-left:10%;

}

.div_contato textarea{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
max-width: 80%;
min-width: 80%;
max-height: 200px;
}

.div_contato input{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
}

.div_contato input:focus{
text-align: center;
position: relative;
display: block;
margin-right: auto;
margin-left:auto;
width:80%;
}


.div_contato button{
border-radius:4px;
position: absolute;
margin-top:20px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}
.div_contato button:hover{
border-radius:4px;
position: absolute;
margin-top:20px;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}
#logout1 {
padding: 7px;
width: 100px;
background-color: #27273c;
color: white;
cursor: pointer;
border-radius: 50px;
display: inline-block;
position: absolute;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
margin-top: 430px;
margin-left: 250px;
z-index: 10;
}

#logout1:hover {
padding: 7px;
width: 100px;
background-color: #65659b;
border: 0px;
color: white;
cursor: pointer;
border-radius: 50px;
display: inline-block;
position: absolute;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
margin-top: 430px;
margin-left: 250px;
z-index: 10;
}

#sentmess {
padding: 7px;
width: 100px;
background-color: #27273c;
color: white;
cursor: pointer;
border-radius: 50px;
display: inline-block;
position: absolute;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
margin-top: 430px;
margin-left: 50px;
}

#sentmess:hover {
padding: 7px;
width: 100px;
background-color: #65659b;
color: white;
border-radius: 50px;
position: absolute;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
display: inline-block;
margin-top: 430px;
}

#subject{
position: absolute;
margin-top: 80px;
margin-left: 170px;
color: white;
}
#mensagem{
position: absolute;
margin-top: 145px;
margin-left: 155px;
color: white;


}

/*SIDEBAR*/
h4 {
position:absolute;
top:0;
margin-top:10px;
margin-left:5px;

}

.sidebarimglosc {
max-height: 150px;
display: block;
margin-left: auto;
margin-right: auto;
animation: movelogo 1s linear 1s infinite alternate;
animation-duration: 5s;
}

h2{
text-align: center;
color:ghostwhite;
}
h3 {
text-align:center;
color:ghostwhite;
margin-top:35px;
font-size:22px;
}

h5 {
font-weight:bold;
font-size:15px;
text-align: center;
}



.sidebar {
user-select: none;
border-left: 2px solid #65659b;
border-right: 2px solid #65659b;
width: 220px;
height: 100%;
background-color: #27273c;
position: fixed;
z-index: 1;
float: left;
display: block;
top: 0;
left: 0;
overflow-y: auto;
overflow-x: hidden;
}

.sidebar a {
display: table;
width: 100%;
height: 100px;
text-decoration: none;

}

#selected {
background-color: #65659b;
}

.sidebar a:hover {
background-color: #65659b;
}


.show {
position: fixed;
height: 50px;
width: 50px;
background-color: #27273c;
color: ghostwhite;
cursor: pointer;
border-radius: 0 0 50px 0;
left: 0;
top: 0;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
text-align: center;
z-index: 15;
}

.show:hover {
position: fixed;
height: 50px;
width: 50px;
background-color: #65659b;
color: ghostwhite;
border-radius: 0 0 50px 0;
left: 0;
text-align: center;
z-index: 15;
}

.hide {
position: fixed;
height: 50px;
width: 50px;
background-color: #27273c;
color: ghostwhite;
cursor: pointer;
border-radius: 0 0 50px 0;
left: 0;
top: 0;
border-top: 2px solid var(--dblue);
border-bottom: 2px solid var(--dblue);
text-align: center;
z-index: 15;
}

.hide:hover {
position: fixed;
height: 50px;
width: 50px;
background-color: #65659b;
color: ghostwhite;
border-radius: 0 0 50px 0;
left: 0;
text-align: center;
z-index: 15;
}



/*maininterface*/

#maindiv{
top:0;
position:fixed;
width: 100%;
z-index: 34;
height: auto;
}
#maindiv ol{
top:0;
padding:0;
width: 100%;
display: flex;
float: left;
}

#maindiv li{
padding:0;
top:0;
width: 100%;
margin:0;
left:0;
display: flex;
}

#maindiv button{
width: calc(100%/3);
height:100px;
}

#maindiv button:hover{
width: calc(100%/3);
height:100px;
background-color:var(--bblue);
color:var(--dblue);
}


#maineditor{
font-weight: bold;
font-size:25px
}

.loginshop{
width: auto;
}
.loginshop:hover{
width: auto;
}

button{
text-align: center;
color:var(--bblue);
background-color: var(--dblue);
border:none;
position: relative;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
}
button:hover{
text-align: center;
color:var(--bblue);
background-color: var(--blue);
border:none;
position: relative;
-webkit-transition-duration: 0.6s; /* Safari */
transition-duration: 0.6s;
text-decoration: none;
overflow: hidden;
cursor: pointer;

}
button:active{
cursor: pointer;
color:var(--dblue);
background-color: var(--bblue);
border:none;
opacity: 1;
transition: 0.2s;
}
#showmain p{
font-size:22px;
margin-top:5px;
color:var(--dblue);
}
#showmain p:hover{
font-size:22px;
margin-top:5px;
color:cornflowerblue;
}

#showmain{
display:none;
background-color: var(--bgrey);
top:0;
left:0;
position: fixed;
width: 100%;
border-bottom: 2px solid var(--dblue);
height: 36px;
text-align: center;
z-index:30;
}

#showmain:hover{
cursor:pointer;
color:cornflowerblue;
background-color: var(--bblue);
top:0;
left:0;
position: fixed;
width: 100%;
border-bottom: 2px solid var(--dblue);
height: 36px;
text-align: center;
z-index:30;
}


.selected{
background-color: var(--bblue);
color:var(--dblue);
}

.selectedfilter{
background-color: var(--blue);
}

:focus{
outline:none;
}
.fecharlogin{
position: fixed;
background-color: var(--dgrey);
z-index: 31;
width: 50px;
height: 50px;
display:none;
right: 0;
margin-right:10px;
border-radius: 100%;
display:none;
margin-top:4px;
}
.fecharlogin:hover{
position: fixed;
background-color: crimson;
z-index: 31;
width: 50px;
height: 50px;
display:none;
right: 0;
margin-right:10px;
border-radius: 100%;
display:none;
margin-top:4px;
}
.avatar{
z-index:100;
position: absolute;
}

.removeavatar{
background-color:var(--blue);
position: relative;
height: 34px;
width: 100px;
}
.removeavatar:hover{
background-color:crimson;
position: relative;
height: 34px;
width: 100px;
}

.upload{
background-color:var(--bgrey);
color:var(--dblue);
font-weight: bold;
position: relative;
height: 34px;
width: 100px;
}
.upload:hover{
background-color:var(--blue);
color:var(--dblue);
font-weight: bold;
position: relative;
height: 34px;
width: 100px;
transition: 0.2s;
}

.inputfile {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.inputfile + label {
font-size: 14px;
color: var(--dblue);
font-weight: bold;
background-color: var(--bgrey);
display: inline-block;
height: auto;
width: 100px;
text-align: center;
}

.inputfile:focus + label,
.inputfile + label:hover {
transition: 0.2s;
background-color: var(--blue);
}
.inputfile + label {
cursor: pointer; /* "hand" cursor */
}



.inputfile1 {
width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;
}
.inputfile1 + label {
font-size: 14px;
color: var(--dblue);
font-weight: bold;
background-color: var(--bgrey);
display: inline-block;
height: auto;
width: 100px;
text-align: center;
}

.inputfile1:focus + label,
.inputfile1 + label:hover {
transition: 0.2s;
background-color: var(--blue);
}
.inputfile1 + label {
cursor: pointer; /* "hand" cursor */
}
.black{
background-color:black;
margin-top:200px;
margin-left:200px;
width:320px;
position: absolute;
height: 350px;
top:0;
}
#arrayel{
position: absolute;
background-color: var(--dblue);
padding:20px;
color:var(--bblue);
margin-top: 200px;
margin-left:200px;
}
#debugDiv{
position: absolute;
color:black;
margin-top:300px;
}

.delete{
width: 100px;
border: solid 1px crimson;
}

.delete:hover{
width: 100px;
background-color: crimson;
}

#carrinho{
display:none;
background-color: var(--bblue);
margin-top:80px;
width: 80%;
z-index: 30;
margin-left:auto;
margin-right:auto;
left:0;
right:0;
}

#carrinhotable{
width: 100%;
z-index: 30;
margin-left:auto;
margin-right: auto;
right: 0;
left: 0;  
text-align: center;
border-collapse:separate; 
border-spacing:0 40px;
font-size: large;
text-shadow: 3px 3px 3px var(--dgrey);
}
#carrinhotable input {
height: 50px;
width: 50px;
font-size: 15px;
margin-left:60px;
}
#carrinhotable button {
border-radius:100%;
height: 70px;
min-width: 70px;
width: auto;
}

#carrinhotable tr{
border: 1px solid var(--bblue);
margin-bottom:15%;
height:150px;
}
#carrinhotable tr:hover{
border: 1px solid var(--bblue);
background-color:var(--bgrey);
margin-bottom:15%;
height:150px;
}

#carrinhotable td{
width:25%;
display: inline-grid;
justify-content: space-around;
}


.quantinput{
user-select:auto;
background-color:var(--bblue);
font-size:15px;
}

.loadcarrinho{
margin-top:200px;
position: relative;
margin-left:auto;
margin-right: auto;
left:0;
right: 0;
}

#finalencomenda{
position: fixed;
left:0;
bottom:0;
margin-bottom:50px;
margin-left:120px;
height:50px;
width: auto;
z-index: 35;
}

#itempage{
background-color:var(--dgrey);
color:var(--bblue);
border:2px solid var(--bgrey);
width:80%;
height: 400px;
margin-left:auto;
margin-right: auto;
left:0;
right: 0;
position: fixed;
z-index: 71;
display: none;
margin-top:200px;
top:0;
}

#itempage img{
max-width: 60%;
max-height: 300px;
}

#itempage table{

display:block;
}
#firstrow td{
width: calc(100%/4);
text-align: center;

}
#itempage p{
word-wrap: break-word;
max-width:500px;
color:var(--bblue);
left:0;
right: 0;
margin-left:auto;
margin-right: auto;
}

.loginfirst{
background-color:firebrick;
position: fixed;
margin-top:100px;
left:0;
width: auto;
display:none;
}

/*ENCOMENDA EMAIL*/
.encomendaemail {
display:inline;
color: red;
}
.encomendaemail li {
display:inline;
}
#deletecarrinho{
position: fixed;
left:0;
margin-left:auto;
right: 0;
margin-right: auto;
bottom:0;

z-index:50;
}
.vazio{
font-size:50px;
margin-top:200px;
color:var(--blue);
text-align: center;
}

}
/*mediaDesktop*/
